<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TunerUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <TunerUtil.Properties.Settings>
            <setting name="rigEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tolTune" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="TunerCom" serializeAs="String">
                <value />
            </setting>
            <setting name="TunerBaud" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay1Com" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay1Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay1Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Relay1On" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay1Off" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay1Status" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay2Com" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay2Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Relay2On" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay2Off" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay2Status" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay3Com" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay3Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay3Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Relay3On" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay3Off" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay3Status" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay4Com" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay4Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay4Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Relay4On" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay4Off" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay4Status" serializeAs="String">
                <value />
            </setting>
            <setting name="BandTolerance" serializeAs="String">
                <value />
            </setting>
            <setting name="TunerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TunerModel" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="VFOA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VFOB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TunerSensitivity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="textBoxAntennaFreq1From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq2From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq3From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq4From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq5From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq6From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq7From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq8From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq1To" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq2To" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq3To" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq4To" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq5To" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq6To" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq7To" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq8To" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxAntenna1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textBoxAntenna1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna2" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna3" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna4" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna5" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna6" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna7" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna8" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna1Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna2Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna3Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna4Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna5Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna6Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna7Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna8Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna1Bits" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna2Bits" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna3Bits" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna4Bits" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna5Bits" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna6Bits" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna7Bits" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna8Bits" serializeAs="String">
                <value />
            </setting>
            <setting name="radioButtonAntennaWire3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioButtonAntennaWire8" serializeAs="String">
                <value>False</value>
            </setting>
        </TunerUtil.Properties.Settings>
    </userSettings>
</configuration>
