<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AmpAutoTunerUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TunerUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <AmpAutoTunerUtility.Properties.Settings>
            <setting name="rigEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tolTune" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="TunerCom" serializeAs="String">
                <value />
            </setting>
            <setting name="TunerBaud" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay1Com" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay1Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay1Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Relay1On" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay1Off" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay1Status" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay2Com" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay2Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Relay2On" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay2Off" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay2Status" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay3Com" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay3Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay3Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Relay3On" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay3Off" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay3Status" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay4Com" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay4Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay4Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Relay4On" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay4Off" serializeAs="String">
                <value />
            </setting>
            <setting name="Relay4Status" serializeAs="String">
                <value />
            </setting>
            <setting name="BandTolerance" serializeAs="String">
                <value />
            </setting>
            <setting name="TunerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TunerModel" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="VFOA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VFOB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TunerSensitivity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="textBoxAntennaFreq1From" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textBoxAntennaFreq2From" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="textBoxAntennaFreq3From" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="textBoxAntennaFreq4From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq5From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq6From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq7From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq8From" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq1To" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="textBoxAntennaFreq2To" serializeAs="String">
                <value>18.17</value>
            </setting>
            <setting name="textBoxAntennaFreq3To" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="textBoxAntennaFreq4To" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq5To" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq6To" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq7To" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntennaFreq8To" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBoxAntenna1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textBoxAntenna1" serializeAs="String">
                <value>My Antenna</value>
            </setting>
            <setting name="textBoxAntenna2" serializeAs="String">
                <value>17M Loop Example</value>
            </setting>
            <setting name="textBoxAntenna3" serializeAs="String">
                <value>Cobweb Example</value>
            </setting>
            <setting name="textBoxAntenna4" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna5" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna6" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna7" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna8" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna1Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna2Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna3Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna4Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna5Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna6Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna7Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="comboBoxAntenna8Relay" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxAntenna1Bits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textBoxAntenna2Bits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="textBoxAntenna3Bits" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="textBoxAntenna4Bits" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="textBoxAntenna5Bits" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="textBoxAntenna6Bits" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="textBoxAntenna7Bits" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="textBoxAntenna8Bits" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="radioButtonAntennaWire3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioButtonAntennaWire8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxPTTEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxToneEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comboBoxAudioOut" serializeAs="String">
                <value />
            </setting>
            <setting name="powerSDR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Power1From" serializeAs="String">
                <value />
            </setting>
            <setting name="Power2From" serializeAs="String">
                <value />
            </setting>
            <setting name="Power3From" serializeAs="String">
                <value />
            </setting>
            <setting name="Power4From" serializeAs="String">
                <value />
            </setting>
            <setting name="Power5From" serializeAs="String">
                <value />
            </setting>
            <setting name="Power6From" serializeAs="String">
                <value />
            </setting>
            <setting name="Power7From" serializeAs="String">
                <value />
            </setting>
            <setting name="Power8From" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Power1To" serializeAs="String">
                <value />
            </setting>
            <setting name="Power2To" serializeAs="String">
                <value />
            </setting>
            <setting name="Power3To" serializeAs="String">
                <value />
            </setting>
            <setting name="Power4To" serializeAs="String">
                <value />
            </setting>
            <setting name="Power5To" serializeAs="String">
                <value />
            </setting>
            <setting name="Power6To" serializeAs="String">
                <value />
            </setting>
            <setting name="Power7To" serializeAs="String">
                <value />
            </setting>
            <setting name="Power8To" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Power1Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Power2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Power3Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Power4Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Power5Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Power6Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Power7Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Power8Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Power1Watts" serializeAs="String">
                <value />
            </setting>
            <setting name="Power2Watts" serializeAs="String">
                <value />
            </setting>
            <setting name="Power3Watts" serializeAs="String">
                <value />
            </setting>
            <setting name="Power4Watts" serializeAs="String">
                <value />
            </setting>
            <setting name="Power5Watts" serializeAs="String">
                <value />
            </setting>
            <setting name="Power6Watts" serializeAs="String">
                <value />
            </setting>
            <setting name="Power7Watts" serializeAs="String">
                <value />
            </setting>
            <setting name="Power8Watts" serializeAs="String">
                <value />
            </setting>
            <setting name="Power1Mode" serializeAs="String">
                <value>Any</value>
            </setting>
            <setting name="Power2Mode" serializeAs="String">
                <value>Any</value>
            </setting>
            <setting name="Power3Mode" serializeAs="String">
                <value>Any</value>
            </setting>
            <setting name="Power4Mode" serializeAs="String">
                <value>Any</value>
            </setting>
            <setting name="Power5Mode" serializeAs="String">
                <value>Any</value>
            </setting>
            <setting name="Power6Mode" serializeAs="String">
                <value>Any</value>
            </setting>
            <setting name="Power7Mode" serializeAs="String">
                <value>Any</value>
            </setting>
            <setting name="Power8Mode" serializeAs="String">
                <value>Any</value>
            </setting>
            <setting name="NumRelays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="checkBoxAntennaTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBoxPowerTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBoxDebugTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBoxTunerTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkedMenuRelay1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkedMenuRelay2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedMenuRelay3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedMenuRelay4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tune1Power" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tune2Power" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tune3Power" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tune4Power" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tune5Power" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tune6Power" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tune7Power" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tune8Power" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="LocationMain" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SizeMain" serializeAs="String">
                <value>405, 297</value>
            </setting>
            <setting name="MaximizedMain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizedMain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PostPttDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Amp1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Amp2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Amp3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Amp4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Amp5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Amp6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Amp7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Amp8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntSelect1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AntSelect2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AntSelect3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AntSelect4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AntSelect5" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AntSelect6" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AntSelect7" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AntSelect8" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WalkAntenna" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrequencyWalkList" serializeAs="String">
                <value />
            </setting>
            <setting name="AmpBits" serializeAs="String">
                <value />
            </setting>
            <setting name="AntennaAmp1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntennaAmp2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntennaAmp3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntennaAmp4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntennaAmp5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntennaAmp6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntennaAmp7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntennaAmp8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerFreqWalkSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ClockIsZulu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrequenciesToWalk1List" serializeAs="String">
                <value />
            </setting>
            <setting name="FrequenciesToWalk2List" serializeAs="String">
                <value />
            </setting>
            <setting name="FrequenciesToWalk3List" serializeAs="String">
                <value />
            </setting>
            <setting name="FreqWalkDelay" serializeAs="String">
                <value>-700</value>
            </setting>
            <setting name="FrequenciesToWalk1Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrequenciesToWalk2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrequenciesToWalk3Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="labelFreqWalk1" serializeAs="String">
                <value>FT8</value>
            </setting>
            <setting name="labelFreqWalk2" serializeAs="String">
                <value>FT4</value>
            </setting>
            <setting name="labelFreqWalk3" serializeAs="String">
                <value>Custom</value>
            </setting>
            <setting name="ViewAntenna" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewRelay1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewRelay2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewRelay3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewRelay4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewPower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewDebug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewTuner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FreqWalkAntenna" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ViewExpertLinears" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FLRigStartCmd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FLRigStopCmd" serializeAs="String">
                <value>0</value>
            </setting>
        </AmpAutoTunerUtility.Properties.Settings>
        <TunerUtil.Properties.Settings>
            <setting name="rigEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tolTune" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="TunerCom" serializeAs="String">
                <value/>
            </setting>
            <setting name="TunerBaud" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay1Com" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay1Baud" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay1Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Relay1On" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay1Off" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay1Status" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay2Com" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay2Baud" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay2Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Relay2On" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay2Off" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay2Status" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay3Com" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay3Baud" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay3Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Relay3On" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay3Off" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay3Status" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay4Com" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay4Baud" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay4Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Relay4On" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay4Off" serializeAs="String">
                <value/>
            </setting>
            <setting name="Relay4Status" serializeAs="String">
                <value/>
            </setting>
            <setting name="BandTolerance" serializeAs="String">
                <value/>
            </setting>
            <setting name="TunerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TunerModel" serializeAs="String">
                <value/>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="VFOA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VFOB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TunerSensitivity" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="textBoxAntennaFreq1From" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textBoxAntennaFreq2From" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="textBoxAntennaFreq3From" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="textBoxAntennaFreq4From" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntennaFreq5From" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntennaFreq6From" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntennaFreq7From" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntennaFreq8From" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntennaFreq1To" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="textBoxAntennaFreq2To" serializeAs="String">
                <value>18.17</value>
            </setting>
            <setting name="textBoxAntennaFreq3To" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="textBoxAntennaFreq4To" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntennaFreq5To" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntennaFreq6To" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntennaFreq7To" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntennaFreq8To" serializeAs="String">
                <value/>
            </setting>
            <setting name="checkBoxAntenna1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxAntenna8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textBoxAntenna1" serializeAs="String">
                <value>My Antenna</value>
            </setting>
            <setting name="textBoxAntenna2" serializeAs="String">
                <value>17M Loop Example</value>
            </setting>
            <setting name="textBoxAntenna3" serializeAs="String">
                <value>Cobweb Example</value>
            </setting>
            <setting name="textBoxAntenna4" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntenna5" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntenna6" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntenna7" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntenna8" serializeAs="String">
                <value/>
            </setting>
            <setting name="comboBoxAntenna1Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="comboBoxAntenna2Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="comboBoxAntenna3Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="comboBoxAntenna4Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="comboBoxAntenna5Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="comboBoxAntenna6Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="comboBoxAntenna7Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="comboBoxAntenna8Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="textBoxAntenna1Bits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textBoxAntenna2Bits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="textBoxAntenna3Bits" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="textBoxAntenna4Bits" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="textBoxAntenna5Bits" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="textBoxAntenna6Bits" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="textBoxAntenna7Bits" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="textBoxAntenna8Bits" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="radioButtonAntennaWire3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioButtonAntennaWire8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Antenna1From" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Antenna2From" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="Antenna3From" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="Antenna4From" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna5From" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna6From" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna7From" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna8From" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna1To" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Antenna2To" serializeAs="String">
                <value>18.17</value>
            </setting>
            <setting name="Antenna3To" serializeAs="String">
                <value>54</value>
            </setting>
            <setting name="Antenna4To" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna5To" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna6To" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna7To" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna8To" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna1Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Antenna2Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Antenna3Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Antenna4Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Antenna5Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Antenna6Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Antenna7Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Antenna8Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Antenna1Selected" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna2Selected" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna3Selected" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna4Selected" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna5Selected" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna6Selected" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna7Selected" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna8Selected" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna1Name" serializeAs="String">
                <value>My Antenna</value>
            </setting>
            <setting name="Antenna2Name" serializeAs="String">
                <value>Example 17M</value>
            </setting>
            <setting name="Antenna3Name" serializeAs="String">
                <value>Example Cobweb</value>
            </setting>
            <setting name="Antenna4Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna5Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna6Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna7Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna8Name" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna1Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna2Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna3Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna4Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna5Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna6Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna7Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna8Relay" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna1Bits" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna2Bits" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna3Bits" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna4Bits" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna5Bits" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna6Bits" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna7Bits" serializeAs="String">
                <value/>
            </setting>
            <setting name="Antenna8Bits" serializeAs="String">
                <value/>
            </setting>
        </TunerUtil.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
