<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HidUtilityNuget" version="1.0.0" targetFramework="net462" />
  <package id="LibUsbDotNet" version="2.2.29" targetFramework="net462" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.DotNet.Analyzers.Compatibility" version="0.2.12-alpha" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.7" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.TestPlatform.TestHost" version="16.4.0" targetFramework="net462" />
  <package id="NAudio" version="1.9.0" targetFramework="net48" />
</packages>